<eu.brede.graspj.configs.UserConfig serialization="custom">
  <unserializable-parents/>
  <map>
    <default>
      <loadFactor>0.75</loadFactor>
      <threshold>1</threshold>
    </default>
    <int>2</int>
    <int>2</int>
    <string>clSystem</string>
    <eu.brede.graspj.opencl.utils.CLSystemGJ serialization="custom">
      <eu.brede.common.opencl.utils.CLSystem>
        <default>
          <ownsContext>true</ownsContext>
        </default>
        <string>AMD Accelerated Parallel Processing</string>
        <set>
          <string>Barts</string>
        </set>
        <string>Barts</string>
      </eu.brede.common.opencl.utils.CLSystem>
    </eu.brede.graspj.opencl.utils.CLSystemGJ>
    <string>userWorkflowsOnExistent</string>
    <eu.brede.graspj.datatypes.WorkflowMap serialization="custom">
      <unserializable-parents/>
      <map>
        <default>
          <loadFactor>0.75</loadFactor>
          <threshold>0</threshold>
        </default>
        <int>1</int>
        <int>0</int>
      </map>
      <linked-hash-map>
        <default>
          <accessOrder>false</accessOrder>
        </default>
      </linked-hash-map>
    </eu.brede.graspj.datatypes.WorkflowMap>
  </map>
  <linked-hash-map>
    <default>
      <accessOrder>false</accessOrder>
    </default>
  </linked-hash-map>
  <eu.brede.common.config.EnhancedConfig>
    <default>
      <prefix>UserConfig.</prefix>
    </default>
  </eu.brede.common.config.EnhancedConfig>
</eu.brede.graspj.configs.UserConfig>